@page "/dynamic"

<h3>Our first Dynamic Component</h3>

<br />
<br />

<button @onclick="HandleBlazorServerClick">Blazor Server</button>
<button @onclick="HandleBlazorWebAssemblyClick">Blazor WebAssembly</button>
<br />
<br />
<h3>@title</h3>
<br />
<div>
    @content
</div>


@code {

    private string title;
    private string content;

    private void HandleBlazorServerClick()
    {
        title = "Blazor Server";
        content = "Blazor Server generates dynamic contents on the server and sends the contents to the browser through the SignalR channel that is estalished between the page in the browser and the server.";
    }

    private void HandleBlazorWebAssemblyClick()
    {
        title = "Blazor WebAssembly";
        content = "Blazor WebAssembly runs completely within the web browser and generates dynamic contents directly at the front end.";
    }

}
